Tata ipl Auction 2022 through website data scraping using BeautifulSoup by KODI VENU

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
url = "https://www.iplt20.com/auction/2022"

In [7]:
r = requests.get("https://www.iplt20.com/auction/2022")

In [35]:
#print(r)

In [11]:
soup = BeautifulSoup(r.text,"lxml")

In [33]:
#print(soup)

In [21]:
table = soup.find("table",class_ ="ih-td-tab auction-tbl")

In [31]:
#print(table)

In [25]:
title = soup.find_all ("th")

In [29]:
#print(title)

In [37]:
header = []
for i in title:
    name = i.text
    header.append(name)

In [39]:
print(header)

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS', 'TEAM', 'PLAYER', 'TYPE ', 'PRICE', 'PLAYER', 'NATIONALITY', 'TYPE', 'BASE PRICE', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'PRICE PAID', 'PLAYER', 'NATIONALITY', 'TYPE', 'BASE PRICE', 'Role', 'Nationality', 'Bats', 'Bowls', 'Bio']

In [41]:
title = table.find_all("th")

In [43]:
header = []
for i in title:
    name = i.text
    header.append(name)

In [45]:
print(header)

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [53]:
df = pd.DataFrame(columns=header)
#print(df)

In [55]:
rows = table.find_all("tr")
#print(row)

In [59]:
for i in rows[1:]:
    data = i.find_all("td")
    #print(data)

In [72]:
for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
   # print(row)
    l  = len(df)
    df.loc[l] = row

In [74]:
for i in rows[1:]:
    first_td = i.find_all("td")[0].find("div",class_ ="ih-pt-ic").text.strip()
    data = i.find_all("td")[1:]
    row = [tr.text for tr in data]
    row.insert(0,first_td)
    l = len(df)
    df.loc[l] = row

print(df)

                                         TEAM FUNDS REMAINING  \
0           \n\n\n\n\nChennai Super Kings\n\n    ₹2,95,00,000
1                \n\n\n\n\nDelhi Capitals\n\n      ₹10,00,000
2                \n\n\n\n\nGujarat Titans\n\n      ₹15,00,000
3         \n\n\n\n\nKolkata Knight Riders\n\n      ₹45,00,000
4          \n\n\n\n\nLucknow Super Giants\n\n              ₹0
5                \n\n\n\n\nMumbai Indians\n\n      ₹10,00,000
6                  \n\n\n\n\nPunjab Kings\n\n    ₹3,45,00,000
7              \n\n\n\n\nRajasthan Royals\n\n      ₹95,00,000
8   \n\n\n\n\nRoyal Challengers Bangalore\n\n    ₹1,55,00,000
9           \n\n\n\n\nSunrisers Hyderabad\n\n      ₹10,00,000
10          \n\n\n\n\nChennai Super Kings\n\n    ₹2,95,00,000
11               \n\n\n\n\nDelhi Capitals\n\n      ₹10,00,000
12               \n\n\n\n\nGujarat Titans\n\n      ₹15,00,000
13        \n\n\n\n\nKolkata Knight Riders\n\n      ₹45,00,000
14         \n\n\n\n\nLucknow Super Giants\n\n              ₹0
15               \n\n\n\n\nMumbai Indians\n\n      ₹10,00,000
16                 \n\n\n\n\nPunjab Kings\n\n    ₹3,45,00,000
17             \n\n\n\n\nRajasthan Royals\n\n      ₹95,00,000
18  \n\n\n\n\nRoyal Challengers Bangalore\n\n    ₹1,55,00,000
19          \n\n\n\n\nSunrisers Hyderabad\n\n      ₹10,00,000
20                        Chennai Super Kings    ₹2,95,00,000
21                             Delhi Capitals      ₹10,00,000
22                             Gujarat Titans      ₹15,00,000
23                      Kolkata Knight Riders      ₹45,00,000
24                       Lucknow Super Giants              ₹0
25                             Mumbai Indians      ₹10,00,000
26                               Punjab Kings    ₹3,45,00,000
27                           Rajasthan Royals      ₹95,00,000
28                Royal Challengers Bangalore    ₹1,55,00,000
29                        Sunrisers Hyderabad      ₹10,00,000

   OVERSEAS PLAYERS  TOTAL PLAYERS
0                  8            25
1                  7            24
2                  8            23
3                  8            25
4                  7            21
5                  8            25
6                  7            25
7                  8            24
8                  8            22
9                  8            23
10                 8            25
11                 7            24
12                 8            23
13                 8            25
14                 7            21
15                 8            25
16                 7            25
17                 8            24
18                 8            22
19                 8            23
20                 8            25
21                 7            24
22                 8            23
23                 8            25
24                 7            21
25                 8            25
26                 7            25
27                 8            24
28                 8            22
29                 8            23

In [76]:
df.to_csv("ipl auction stats 2022.csv")